{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Review Cart</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>quantity</th>
        </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

{% endblock %}