{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
  <div class="container">
    <div class="container">
        <h1>About Us</h1>
    </div>
    <div class="container">
      <div class="container">
        <h3 class="about">Our team consists of 2 members </h3>
        <ul>
          <li><h4 class="about_us_dev_info">Trần Ngọc Long</h4></li>
          <li><h4 class="about_us_dev_info">Nguyễn Tấn Khoa</h4></li>
      </div>
      <div class="container">
        <p>This website is a web project that created by our group.</p>
    </div>
    <img class="card-img-top" src="{{ asset('images/product/logo.jpg') }}" alt="Symfony!" style="width: 30%;"/>
    <div class="card-footer">
                                        <a href="{{ path('app_product_index') }}"
                                           class="btn btn-primary">Home</a>
                                    </div>
{% endblock %}
